# Import database for yield rate at year ....

In [ ]:
import pandas as pd
import re
%matplotlib inline

DATA_FOLDER = '~/data/'

TRADPRICE = DATA_FOLDER+"tradprice2019.csv"

# Clean Database

## Remove useless columns and rows with unreadable data

In [2]:
tradprice = pd.read_csv(TRADPRICE)
tradprice.head()

#Remove columns that are not needed
# Columns with only NaN values
tradprice = tradprice.dropna(axis=1, how='all')
# Columns with only 0 values
tradprice = tradprice.loc[:, (tradprice != 0).any(axis=0)]
# Columns Period, Geo Level, State ANSI
tradprice = tradprice.drop(columns=['Year','Program','Period', 'Geo Level', 'State ANSI', 'Domain', 'Domain Category'])

#state how many rows with (D) value have been removed
print("Number of rows with (D) value: ", len(tradprice[tradprice['Value'].str.contains(r'\(D\)')]))
#remove rows where value colummn = (D) with or without spaces
tradprice = tradprice[~tradprice['Value'].str.contains(r'\(D\)')]

#state how many rows with (X) value have been removed
print("Number of rows with (X) value: ", len(tradprice[tradprice['Value'].str.contains(r'\(X\)')]))
#remove rows where value colummn = (X) with or without spaces
tradprice = tradprice[~tradprice['Value'].str.contains(r'\(X\)')]

#state how many rows with (NA) value have been removed
print("Number of rows with (NA) value: ", len(tradprice[tradprice['Value'].str.contains(r'\(NA\)')]))
#remove rows where value colummn = (NA) with or without spaces
tradprice = tradprice[~tradprice['Value'].str.contains(r'\(NA\)')]

#State how many rows with MAPLE SYRUP have been removed
print("Number of rows with MAPLE SYRUP: ", len(tradprice[tradprice['Commodity'].str.contains(r'MAPLE SYRUP')]))
#remove rows where commodity contains MAPLE SYRUP 
tradprice = tradprice[~tradprice['Commodity'].str.contains(r'MAPLE SYRUP')]



tradprice.head(7)

Number of rows with (D) value:  238
Number of rows with (X) value:  3
Number of rows with (NA) value:  58
Number of rows with MAPLE SYRUP:  91

     State Commodity                                          Data Item  Value
0  ALABAMA      CORN   CORN, GRAIN - PRICE RECEIVED, MEASURED IN $ / BU   3.99
1  ALABAMA    COTTON  COTTON, COTTONSEED - PRICE RECEIVED, MEASURED ...    120
3  ALABAMA    COTTON  COTTON, UPLAND - PRICE RECEIVED, MEASURED IN $...  0.603
4  ALABAMA       HAY          HAY - PRICE RECEIVED, MEASURED IN $ / TON     87
5  ALABAMA       HAY  HAY, (EXCL ALFALFA) - PRICE RECEIVED, MEASURED...     87
8  ALABAMA   PEANUTS       PEANUTS - PRICE RECEIVED, MEASURED IN $ / LB  0.194
9  ALABAMA  SOYBEANS      SOYBEANS - PRICE RECEIVED, MEASURED IN $ / BU    9.1

## Unit conversion in $/short ton

In [3]:
# Function to extract and clean the unit
def extract_clean_unit(data_item):
    match = re.search(r'IN\s+\$(\s*/\s*[A-Z]+)', data_item)  # Look for "IN" followed by the unit
    if match: 
        return f"${match.group(1).strip().replace(' ', '')}"  # Clean spaces to get "BU/ACRE"
    return None  # Return None if no match is found

# Applying the function to create a new 'Unit' column
tradprice['Unit'] = tradprice['Data Item'].apply(extract_clean_unit)

# Display the updated DataFrame
tradprice.head(7)

#print unique values of 'Unit' column
print(tradprice['Unit'].unique())

['$/BU' '$/TON' '$/LB' '$/CWT' '$/BOX' '$/BARREL']

In [4]:
#print column with 'Unit' = '$/BARREL'
print(tradprice[tradprice['Unit'] == '$/BARREL'])
#print the number of rows with 'Unit' = '$/BARREL'
print(len(tradprice[tradprice['Unit'] == '$/BARREL']))

              State    Commodity  \
604   MASSACHUSETTS  CRANBERRIES
605   MASSACHUSETTS  CRANBERRIES
606   MASSACHUSETTS  CRANBERRIES
793      NEW JERSEY  CRANBERRIES
794      NEW JERSEY  CRANBERRIES
795      NEW JERSEY  CRANBERRIES
987          OREGON  CRANBERRIES
988          OREGON  CRANBERRIES
989          OREGON  CRANBERRIES
1406      WISCONSIN  CRANBERRIES
1407      WISCONSIN  CRANBERRIES
1408      WISCONSIN  CRANBERRIES

                                              Data Item  Value      Unit
604   CRANBERRIES - PRICE RECEIVED, MEASURED IN $ / ...   34.1  $/BARREL
605   CRANBERRIES, FRESH MARKET - PRICE RECEIVED, ME...   56.3  $/BARREL
606   CRANBERRIES, PROCESSING - PRICE RECEIVED, MEAS...   33.1  $/BARREL
793   CRANBERRIES - PRICE RECEIVED, MEASURED IN $ / ...   37.8  $/BARREL
794   CRANBERRIES, FRESH MARKET - PRICE RECEIVED, ME...   90.1  $/BARREL
795   CRANBERRIES, PROCESSING - PRICE RECEIVED, MEAS...   37.2  $/BARREL
987   CRANBERRIES - PRICE RECEIVED, MEASURED IN $ / ...   29.7  $/BARREL
988   CRANBERRIES, FRESH MARKET - PRICE RECEIVED, ME...  102.3  $/BARREL
989   CRANBERRIES, PROCESSING - PRICE RECEIVED, MEAS...   28.8  $/BARREL
1406  CRANBERRIES - PRICE RECEIVED, MEASURED IN $ / ...   34.9  $/BARREL
1407  CRANBERRIES, FRESH MARKET - PRICE RECEIVED, ME...   85.3  $/BARREL
1408  CRANBERRIES, PROCESSING - PRICE RECEIVED, MEAS...   33.1  $/BARREL
12

In [5]:
#print column with 'Unit' = '$/BOX'
print(tradprice[tradprice['Unit'] == '$/BOX'])
#print the number of rows with 'Unit' = '$/BOX'
print(len(tradprice[tradprice['Unit'] == '$/BOX']))

           State   Commodity  \
35       ARIZONA      LEMONS
36       ARIZONA      LEMONS
132   CALIFORNIA  GRAPEFRUIT
133   CALIFORNIA  GRAPEFRUIT
156   CALIFORNIA      LEMONS
...          ...         ...
1224       TEXAS     ORANGES
1228       TEXAS     ORANGES
1229       TEXAS     ORANGES
1237       TEXAS     ORANGES
1238       TEXAS     ORANGES

                                              Data Item  Value   Unit
35    LEMONS - PRICE RECEIVED, MEASURED IN $ / BOX, ...  25.39  $/BOX
36    LEMONS - PRICE RECEIVED, MEASURED IN $ / BOX, ...  31.61  $/BOX
132   GRAPEFRUIT - PRICE RECEIVED, MEASURED IN $ / B...  10.47  $/BOX
133   GRAPEFRUIT - PRICE RECEIVED, MEASURED IN $ / B...  13.46  $/BOX
156   LEMONS - PRICE RECEIVED, MEASURED IN $ / BOX, ...  22.74  $/BOX
...                                                 ...    ...    ...
1224  ORANGES - PRICE RECEIVED, MEASURED IN $ / BOX,...   9.85  $/BOX
1228  ORANGES, MID & NAVEL - PRICE RECEIVED, MEASURE...   7.24  $/BOX
1229  ORANGES, MID & NAVEL - PRICE RECEIVED, MEASURE...   8.96  $/BOX
1237  ORANGES, VALENCIA - PRICE RECEIVED, MEASURED I...  14.79  $/BOX
1238  ORANGES, VALENCIA - PRICE RECEIVED, MEASURED I...  16.62  $/BOX

[71 rows x 5 columns]
71

In [6]:
tradprice['Value'] = tradprice['Value'].str.replace(',', '', regex=False)  # Remove thousands separator before conversion
# Convert 'Value' column to numeric, forcing errors to NaN
tradprice['Value'] = pd.to_numeric(tradprice['Value'], errors='coerce')

# Define conversion ratios
conversion_ratios = {
    '$/TON': 1,  # Reference value with Short tons and not metric tons used here
    '$/LB': 0.0005,
    '$/CWT': 0.05, #since 1 CWT = 100 lb
    '$/BU (CORN/SORGHUM/RYE/FLAXSEED)': 0.028,  #source: TABLES 5/6 https://www.ers.usda.gov/webdocs/publications/41880/33132_ah697_002.pdf 
    '$/BU (BARLEY)': 0.024, #source: same
    '$/BU (WHEAT/SOYBEANS)': 0.03, #source: same
    '$/BU (OATS)': 32*0.0005, #source: same
    '$/BARREL': 100*0.0005, #since 1 barrel of cranberry = 100lb of fruits source: same
    '$/BOX (LEMONS)': 38*0.0005,  #since 1 box of lemons = 38 lb source: same
    '$/BOX (ORANGES,FL)': 43*0.0005,  #since 1 box of oranges = 43 lb source: same
    '$/BOX (ORANGES,TX)': 42*0.0005,  #since 1 box of oranges = 42 lb source: same
    '$/BOX (ORANGE, AZ/CA)': 38*0.0005,  #since 1 box of oranges = 38 lb source: same
    '$/BOX (GRAPEFRUIT, FL/TX)': 40*0.0005,  #since 1 box of oranges = 40 lb source: same
    '$/BOX (GRAPEFRUIT, AZ/CA)': 34*0.0005,  #since 1 box of oranges = 34 lb source: same
    '$/BOX (TANGERINES, AZ/CA)': 25*0.0005,  #since 1 box of oranges = 25 lb source: same
    '$/BOX (TANGERINES, FL)': 43*0.0005,  #since 1 box of oranges = 43 lb source: same
    }


# Function to convert values to tons/acre
def convert_to_tons_acre(row):
    value = row['Value']
    unit = row['Unit']

    if pd.isna(value):  # Check if the value is NaN
        return None
    if unit == '$/TON':
        return value  # No conversion needed
    elif '$/BU' in unit:
        if 'CORN' in row['Commodity'] or 'SORGHUM' or 'RYE' in row['Commodity'] or 'FLAXSEED' in row['Commodity']:
            return value / conversion_ratios['$/BU (CORN/SORGHUM/RYE/FLAXSEED)']
        elif 'BARLEY' in row['Commodity']:
            return value / conversion_ratios['$/BU (BARLEY)']
        elif 'WHEAT' in row['Commodity'] or 'SOYBEANS' in row['Commodity']:
            return value / conversion_ratios['$/BU (WHEAT/SOYBEANS)']
        elif 'OATS' in row['Commodity']:
            return value / conversion_ratios['$/BU (OATS)']
    elif unit == '$/LB':
        return value / conversion_ratios['$/LB']
    elif unit == '$/CWT':
        return value / conversion_ratios['$/CWT']
    elif unit == '$/BARREL':
        return value / conversion_ratios['$/BARREL']
    elif unit == '$/BOX':
        if 'LEMONS' in row['Commodity']:
            return value / conversion_ratios['$/BOX (LEMONS)']
        elif 'ORANGE' in row['Commodity']:
            if 'FLORIDA' in row['State']:
                return value / conversion_ratios['$/BOX (ORANGES,FL)']
            elif 'TEXAS' in row['State']:
                return value / conversion_ratios['$/BOX (ORANGES,TX)']
            elif 'ARIZONA' in row['State'] or 'CALIFORNIA' in row['State']:
                return value / conversion_ratios['$/BOX (ORANGE, AZ/CA)']
        elif 'GRAPEFRUIT' in row['Commodity']:
            if 'FLORIDA' in row['State'] or 'TEXAS' in row['State']:
                return value / conversion_ratios['$/BOX (GRAPEFRUIT, FL/TX)']
            elif 'ARIZONA' in row['State'] or 'CALIFORNIA' in row['State']:
                return value / conversion_ratios['$/BOX (GRAPEFRUIT, AZ/CA)']
        elif 'TANGERINES' in row['Commodity']:
            if 'FLORIDA' in row['State']:
                return value / conversion_ratios['$/BOX (TANGERINES, FL)']
            elif 'ARIZONA' in row['State'] or 'CALIFORNIA' in row['State']:
                return value / conversion_ratios['$/BOX (TANGERINES, AZ/CA)']
        
    return None  # Return None for unrecognized units

# Applying the conversion function to create the 'new_values' column
tradprice['new_values'] = tradprice.apply(convert_to_tons_acre, axis=1)

# Dropping the old 'Value' and 'Unit' columns
tradprice.drop(columns=['Value', 'Unit'], inplace=True)

# Renaming 'new_values' to 'price' and adding unit column
tradprice.rename(columns={'new_values': 'price'}, inplace=True)
tradprice['Unit'] = '$/TON'  # Add a new unit column with 'TON/ACRE'


tradprice.head(7)

,State,Commodity,Data Item,price,Unit
0,ALABAMA,CORN,"CORN, GRAIN - PRICE RECEIVED, MEASURED IN $ / BU",142.5,$/TON
1,ALABAMA,COTTON,"COTTON, COTTONSEED - PRICE RECEIVED, MEASURED ...",120.0,$/TON
3,ALABAMA,COTTON,"COTTON, UPLAND - PRICE RECEIVED, MEASURED IN $...",1206.0,$/TON
4,ALABAMA,HAY,"HAY - PRICE RECEIVED, MEASURED IN $ / TON",87.0,$/TON
5,ALABAMA,HAY,"HAY, (EXCL ALFALFA) - PRICE RECEIVED, MEASURED...",87.0,$/TON
8,ALABAMA,PEANUTS,"PEANUTS - PRICE RECEIVED, MEASURED IN $ / LB",388.0,$/TON
9,ALABAMA,SOYBEANS,"SOYBEANS - PRICE RECEIVED, MEASURED IN $ / BU",325.0,$/TON

## Prepare data to pivot table

In [7]:
#Check if some rows have NaN price and print them to see the unit (if it is not TON/ACRE or one of the other units already implemented)
missing_values = len(tradprice[tradprice['price'].isnull()])
print("Number of rows with NaN price: ", missing_values)
#print rows with NaN price
if missing_values > 0:
    print(tradprice[tradprice['price'].isnull()])

#Check if some rows have negative price and print how many of them
negative_values = len(tradprice[tradprice['price'] < 0])
print("Number of rows with negative price: ", negative_values)
#Remove rows with negative price
tradprice = tradprice[tradprice['price'] >= 0]

Number of rows with NaN price:  0
Number of rows with negative price:  1

In [8]:
# Function to extract the commodity name from the Data Item
def extract_commodity(data_item):
    match = re.search(r'^(.*?)\s*-\s*', data_item)
    if match:
        return match.group(1).strip()  # Return the part before the dash
    return None

# Updating the Commodity column with extracted values
tradprice['Commodity'] = tradprice['Data Item'].apply(extract_commodity)

tradprice.head(200)

,State,Commodity,Data Item,price,Unit
0,ALABAMA,"CORN, GRAIN","CORN, GRAIN - PRICE RECEIVED, MEASURED IN $ / BU",142.5,$/TON
1,ALABAMA,"COTTON, COTTONSEED","COTTON, COTTONSEED - PRICE RECEIVED, MEASURED ...",120.0,$/TON
3,ALABAMA,"COTTON, UPLAND","COTTON, UPLAND - PRICE RECEIVED, MEASURED IN $...",1206.0,$/TON
4,ALABAMA,HAY,"HAY - PRICE RECEIVED, MEASURED IN $ / TON",87.0,$/TON
5,ALABAMA,"HAY, (EXCL ALFALFA)","HAY, (EXCL ALFALFA) - PRICE RECEIVED, MEASURED...",87.0,$/TON
...,...,...,...,...,...
284,COLORADO,"ONIONS, DRY","ONIONS, DRY - PRICE RECEIVED, MEASURED IN $ / CWT",334.0,$/TON
287,COLORADO,PEACHES,"PEACHES - PRICE RECEIVED, MEASURED IN $ / TON",2300.0,$/TON
290,COLORADO,POTATOES,"POTATOES - PRICE RECEIVED, MEASURED IN $ / CWT",244.0,$/TON
291,COLORADO,"POTATOES, FRESH MARKET","POTATOES, FRESH MARKET - PRICE RECEIVED, MEASU...",280.0,$/TON
292,COLORADO,"SORGHUM, GRAIN","SORGHUM, GRAIN - PRICE RECEIVED, MEASURED IN $...",99.0,$/TON

In [9]:
# Create a new column 'types' based on the commodity content
def categorize_commodity(commodity):
    if 'FRESH MARKET' in commodity:
        return 'FRESH MARKET'
    elif 'PROCESSING' in commodity:
        return 'PROCESSING'
    else:
        return 'GENERAL'

# Apply the function to the Commodity column
tradprice['types'] = tradprice['Commodity'].apply(categorize_commodity)

# Remove "PROCESSING" and "FRESH MARKET" from the 'Commodity' column, regardless of format
tradprice['Commodity'] = tradprice['Commodity'].replace({
    r'PROCESSING': '', 
    r'FRESH MARKET': ''
}, regex=True).str.strip()

# Remove any trailing commas or extra spaces left behind
tradprice['Commodity'] = tradprice['Commodity'].str.replace(r',\s*$', '', regex=True).str.strip()

#print how many rows have the word 'UTILIZED' or 'IN SHELL' or 'IMPORVED' in the 'Commodity' commas
print("Number of rows with UTILIZED in Commodity: ", len(tradprice[tradprice['Commodity'].str.contains(r'UTILIZED')]))
print("Number of rows with IN SHELL in Commodity: ", len(tradprice[tradprice['Commodity'].str.contains(r'IN SHELL')]))
print("Number of rows with IMPROVED in Commodity: ", len(tradprice[tradprice['Commodity'].str.contains(r'IMPROVED')]))


# Remove the word 'UTILIZED' and 'IN SHELL' and 'IMPROVED' if present in the 'Commodity' column even if there are words, colon before or after
tradprice['Commodity'] = tradprice['Commodity'].str.replace(r'\s*UTILIZED\s*', '', regex=True).str.strip()
# Remove any trailing commas or extra spaces left behind
tradprice['Commodity'] = tradprice['Commodity'].str.replace(r',\s*$', '', regex=True).str.strip()
tradprice['Commodity'] = tradprice['Commodity'].str.replace(r'\s*IN SHELL\s*', '', regex=True).str.strip()
# Remove any trailing commas or extra spaces left behind
tradprice['Commodity'] = tradprice['Commodity'].str.replace(r',\s*$', '', regex=True).str.strip()
tradprice['Commodity'] = tradprice['Commodity'].str.replace(r'\s*IMPROVED\s*', '', regex=True).str.strip()
# Remove any trailing commas or extra spaces left behind
tradprice['Commodity'] = tradprice['Commodity'].str.replace(r',\s*$', '', regex=True).str.strip()

tradprice.head(200)

Number of rows with UTILIZED in Commodity:  0
Number of rows with IN SHELL in Commodity:  0
Number of rows with IMPROVED in Commodity:  5

,State,Commodity,Data Item,price,Unit,types
0,ALABAMA,"CORN, GRAIN","CORN, GRAIN - PRICE RECEIVED, MEASURED IN $ / BU",142.5,$/TON,GENERAL
1,ALABAMA,"COTTON, COTTONSEED","COTTON, COTTONSEED - PRICE RECEIVED, MEASURED ...",120.0,$/TON,GENERAL
3,ALABAMA,"COTTON, UPLAND","COTTON, UPLAND - PRICE RECEIVED, MEASURED IN $...",1206.0,$/TON,GENERAL
4,ALABAMA,HAY,"HAY - PRICE RECEIVED, MEASURED IN $ / TON",87.0,$/TON,GENERAL
5,ALABAMA,"HAY, (EXCL ALFALFA)","HAY, (EXCL ALFALFA) - PRICE RECEIVED, MEASURED...",87.0,$/TON,GENERAL
...,...,...,...,...,...,...
284,COLORADO,"ONIONS, DRY","ONIONS, DRY - PRICE RECEIVED, MEASURED IN $ / CWT",334.0,$/TON,GENERAL
287,COLORADO,PEACHES,"PEACHES - PRICE RECEIVED, MEASURED IN $ / TON",2300.0,$/TON,GENERAL
290,COLORADO,POTATOES,"POTATOES - PRICE RECEIVED, MEASURED IN $ / CWT",244.0,$/TON,GENERAL
291,COLORADO,POTATOES,"POTATOES, FRESH MARKET - PRICE RECEIVED, MEASU...",280.0,$/TON,FRESH MARKET
292,COLORADO,"SORGHUM, GRAIN","SORGHUM, GRAIN - PRICE RECEIVED, MEASURED IN $...",99.0,$/TON,GENERAL

In [10]:
# Step 1: Check for rows with the same Commodity and State but different types
duplicate_rows = tradprice[tradprice.duplicated(subset=['Commodity', 'State'], keep=False) & tradprice['types'].duplicated()]

# Step 2: Calculate the average price for rows with the same Commodity and State but different types
tradprice = tradprice.groupby(['State', 'Commodity'], as_index=False).agg({'price': 'mean', 'types': lambda x: ', '.join(sorted(set(x)))})

# Step 3: Check if duplicates still exist after averaging
duplicates_remaining = tradprice[tradprice.duplicated(subset=['Commodity', 'State'], keep=False)]

# Display the results
print("Duplicates found before averaging:")
print(duplicate_rows)

print("\nAveraged DataFrame:")
print(tradprice)

print("\nDuplicates remaining after averaging:")
print(duplicates_remaining)

Duplicates found before averaging:
          State      Commodity  \
17      ARIZONA       BROCCOLI
35      ARIZONA         LEMONS
36      ARIZONA         LEMONS
42      ARIZONA  LETTUCE, HEAD
43      ARIZONA  LETTUCE, HEAD
...         ...            ...
1433  WISCONSIN       POTATOES
1434  WISCONSIN       POTATOES
1440  WISCONSIN     SWEET CORN
1441  WISCONSIN     SWEET CORN
1442  WISCONSIN     SWEET CORN

                                              Data Item        price   Unit  \
17       BROCCOLI - PRICE RECEIVED, MEASURED IN $ / CWT  1440.000000  $/TON
35    LEMONS - PRICE RECEIVED, MEASURED IN $ / BOX, ...  1336.315789  $/TON
36    LEMONS - PRICE RECEIVED, MEASURED IN $ / BOX, ...  1663.684211  $/TON
42    LETTUCE, HEAD - PRICE RECEIVED, MEASURED IN $ ...   858.000000  $/TON
43    LETTUCE, HEAD, FRESH MARKET - PRICE RECEIVED, ...   858.000000  $/TON
...                                                 ...          ...    ...
1433  POTATOES, FRESH MARKET - PRICE RECEIVED, MEASU...   296.000000  $/TON
1434  POTATOES, PROCESSING - PRICE RECEIVED, MEASURE...   186.000000  $/TON
1440   SWEET CORN - PRICE RECEIVED, MEASURED IN $ / CWT    78.000000  $/TON
1441  SWEET CORN, FRESH MARKET - PRICE RECEIVED, MEA...   432.000000  $/TON
1442  SWEET CORN, PROCESSING - PRICE RECEIVED, MEASU...    62.800000  $/TON

             types
17         GENERAL
35         GENERAL
36         GENERAL
42         GENERAL
43    FRESH MARKET
...            ...
1433  FRESH MARKET
1434    PROCESSING
1440       GENERAL
1441  FRESH MARKET
1442    PROCESSING

[451 rows x 6 columns]

Averaged DataFrame:
       State            Commodity        price    types
0    ALABAMA          CORN, GRAIN   142.500000  GENERAL
1    ALABAMA   COTTON, COTTONSEED   120.000000  GENERAL
2    ALABAMA       COTTON, UPLAND  1206.000000  GENERAL
3    ALABAMA                  HAY    87.000000  GENERAL
4    ALABAMA  HAY, (EXCL ALFALFA)    87.000000  GENERAL
..       ...                  ...          ...      ...
776  WYOMING  HAY, (EXCL ALFALFA)   150.000000  GENERAL
777  WYOMING         HAY, ALFALFA   181.000000  GENERAL
778  WYOMING           SUGARBEETS    25.800000  GENERAL
779  WYOMING                WHEAT   140.714286  GENERAL
780  WYOMING        WHEAT, WINTER   140.714286  GENERAL

[781 rows x 4 columns]

Duplicates remaining after averaging:
Empty DataFrame
Columns: [State, Commodity, price, types]
Index: []

## Pivot table 
#### (for better/coherent extraction between diffferent tables later)

In [11]:
# Now pivoting the DataFrame
tradprice_pivot = tradprice.pivot(index='State', columns='Commodity', values='price')

# Resetting the index to turn the pivot table back into a DataFrame
tradprice_pivot.reset_index(inplace=True)

# Export cleaned and pivoted databases

In [12]:
# Save the cleaned data to a new CSV file
tradprice_pivot.to_csv(DATA_FOLDER+'tradprice_pivotcleaned.csv', index=False)
tradprice.to_csv(DATA_FOLDER+'tradprice_cleaned.csv', index=False)